[mysqld]
bind-address = 0.0.0.0
#skip-networking
innodb_buffer_pool_instances = 8
innodb_buffer_pool_size = 1G 
innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 1 
innodb_flush_method = O_DIRECT
# query_cache should only tunning by development env which only one concurrency 
query_cache_type = 1
query_cache_size = 10M
query_cache_limit=256K